<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "themes-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><h3><i class="fa fa-list"></i> <a href="/themes">All themes</a></h3></li>
                <li><h3 class="active"><i class="fa fa-plug"></i> <a href="">{{ .Params.name }}</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    {{ partial "content.html" . }}
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
