<article class="theme">
    <header>
        <h1 class="nocount" style="border-bottom: none;">
            <a style="text-decoration: none;" href='{{ .Permalink }}'>{{ .Params.name }}</a>
            {{ if isset .Params "demo" }}
            <a href="{{ .Params.demo }}" target="_blank"><button class="btn btn-success pull-right" type="submit"><i class="fa fa-play"></i> Live demo</button></a>
            {{ end }}
        </h1>
    </header>
    <div class="row">
        <div class="col-md-4">
            <div style="padding: 20px 0 20px 0;">
                {{ .Description }}
            </div>
            <footer>
                <div style="font-size: small;">
                    {{ if isset .Params "author" }}
                    By {{ .Params.author }}
                    {{ end }}
                    <br/>
                    {{ if isset .Params "repo" }}
                    <a href="{{ .Params.repo }}">{{ .Params.repo }}</a>
                    {{ end }}
                </div>
            </footer>
        </div>
        <div class="col-md-8">
            <img class="img-thumbnail" src="/{{ html .Dir }}/{{ .Params.image }}"/>
        </div>
    </div>
</article>
