[submodule "content/addons/spring-bridge"]
	path = content/addons/spring-bridge
	url = https://github.com/seedstack/spring-bridge-addon.git
	branch = docs
[submodule "content/addons/elasticsearch"]
	path = content/addons/elasticsearch
	url = https://github.com/seedstack/elasticsearch-addon.git
	branch = docs
[submodule "content/addons/javamail"]
	path = content/addons/javamail
	url = https://github.com/seedstack/javamail-addon.git
	branch = docs
[submodule "content/addons/jcache"]
	path = content/addons/jcache
	url = https://github.com/seedstack/jcache-addon.git
	branch = docs
[submodule "content/addons/w20-bridge"]
	path = content/addons/w20-bridge
	url = https://github.com/seedstack/w20-bridge-addon.git
	branch = docs
[submodule "content/addons/monitoring"]
	path = content/addons/monitoring
	url = https://github.com/seedstack/monitoring-addon.git
	branch = docs
[submodule "content/addons/audit"]
	path = content/addons/audit
	url = https://github.com/seedstack/audit-addon.git
	branch = docs
[submodule "content/addons/web-services"]
	path = content/addons/web-services
	url = https://github.com/seedstack/web-services-addon.git
	branch = docs
[submodule "content/addons/solr"]
	path = content/addons/solr
	url = https://github.com/seedstack/solr-addon.git
	branch = docs
[submodule "content/addons/scheduling"]
	path = content/addons/scheduling
	url = https://github.com/seedstack/scheduling-addon.git
	branch = docs
[submodule "content/addons/redis"]
	path = content/addons/redis
	url = https://github.com/seedstack/redis-addon.git
	branch = docs
[submodule "content/addons/neo4j"]
	path = content/addons/neo4j
	url = https://github.com/seedstack/neo4j-addon.git
	branch = docs
[submodule "content/addons/mongodb"]
	path = content/addons/mongodb
	url = https://github.com/seedstack/mongodb-addon.git
	branch = docs
[submodule "content/addons/jpa"]
	path = content/addons/jpa
	url = https://github.com/seedstack/jpa-addon.git
	branch = docs
[submodule "content/addons/jms"]
	path = content/addons/jms
	url = https://github.com/seedstack/jms-addon.git
	branch = docs
[submodule "content/addons/jdbc"]
	path = content/addons/jdbc
	url = https://github.com/seedstack/jdbc-addon.git
	branch = docs
[submodule "content/addons/io"]
	path = content/addons/io
	url = https://github.com/seedstack/io-addon.git
	branch = docs
[submodule "content/addons/i18n"]
	path = content/addons/i18n
	url = https://github.com/seedstack/i18n-addon.git
	branch = docs
[submodule "content/addons/mqtt"]
	path = content/addons/mqtt
	url = https://github.com/seedstack/mqtt-addon.git
	branch = docs
[submodule "content/addons/ldap"]
	path = content/addons/ldap
	url = https://github.com/seedstack/ldap-addon.git
	branch = docs
[submodule "content/addons/data-security"]
	path = content/addons/data-security
	url = https://github.com/seedstack/data-security-addon.git
	branch = docs
[submodule "content/addons/shell"]
	path = content/addons/shell
	url = https://github.com/seedstack/shell-addon.git
	branch = docs
[submodule "content/addons/netflix"]
	path = content/addons/netflix
	url = https://github.com/seedstack/netflix-addon.git
	branch = docs
[submodule "content/addons/feign"]
	path = content/addons/feign
	url = https://github.com/seedstack/feign-addon.git
	branch = docs
[submodule "content/addons/metrics"]
	path = content/addons/metrics
	url = https://github.com/seedstack/metrics-addon.git
	branch = docs
[submodule "content/addons/jmh"]
	path = content/addons/jmh
	url = https://github.com/seedstack/jmh-addon.git
	branch = docs
[submodule "content/addons/consul"]
	path = content/addons/consul
	url = https://github.com/seedstack/consul-addon.git
	branch = docs
[submodule "content/addons/flyway"]
	path = content/addons/flyway
	url = https://github.com/seedstack/flyway-addon.git
	branch = docs
[submodule "content/addons/aws"]
	path = content/addons/aws
	url = https://github.com/seedstack/aws-addon.git
	branch = docs
[submodule "content/addons/kafka"]
	path = content/addons/kafka
	url = https://github.com/seedstack/kafka-addon.git
	branch = docs
[submodule "content/addons/swagger"]
	path = content/addons/swagger
	url = https://github.com/seedstack/swagger-addon.git
	branch = docs
