<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "addons-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><span><i class="fa fa-chevron-left"></i> <a href="{{ $.Site.BaseURL }}addons">Back to list</a></span></li>
                {{ if not .Params.NoMenu }}
                <li class="pull-right">
                    {{ partial "menu-toggle.html" }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    {{ partial "content.html" . }}
</div>
<div id="toc">
    {{ partial "toc.html" . }}
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
