.content-wrapper {
    padding: 40px 30px 19px 30px;
    background-color: white;
}

.content-controls {
    margin-bottom: 30px;
}

.doc-content {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.doc-content * {
    font-kerning: normal;
    line-height: 20px;
}

.doc-content p {
    margin: 0;
}

.doc-content > p:first-of-type {
    margin-bottom: 20px;
}

.doc-content > p:first-of-type:first-letter {
    font-size: 24px;
}

.doc-content p + p {
    text-indent: 1em;
    margin-top: 0;
}

.doc-content ul, .doc-content ol {
    margin: 20px 0 20px 0;
    padding: 0;
}

.doc-content ul ul {
    margin-left: 20px;
}

.doc-content ol ol {
    margin-left: 20px;
}

.doc-content h1 {
    font-weight: 300;
    border-bottom: 1px solid #555;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0 39px 0;
}

.doc-content h1:first-child {
    margin-top: 0;
}

.doc-content h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0 20px 0;
}

.doc-content h2:first-child {
    margin-top: 0;
}

.doc-content h3,
.doc-content h4,
.doc-content h5,
.doc-content h6 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.doc-content h3 {
    margin-top: 20px;
}

.doc-content ol.linenums {
    margin: 0;
}

.doc-content code {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
}

.doc-content pre {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    border: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.doc-content table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

.doc-content blockquote {
    margin: 20px 0 20px 0;
    font-size: 14px;
    border: none;
}

.doc-content blockquote * {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.doc-content blockquote:before {
    float: left;
    color: #ccc;
    content: '\201c';
    font-size: 4em;
    line-height: 20px;
    margin-right: 0.1em;
}

.doc-content .callout {
    margin: 20px 0;
    padding: 20px 30px;
    border-left: 3px solid #eee;
}

.doc-content .callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.doc-content .callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.doc-content .callout-danger h4 {
    color: #d9534f
}

.doc-content .callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.doc-content .callout-warning h4 {
    color: #f0ad4e
}

.doc-content .callout-info {
    background-color: #f7f7f7;
    border-left: solid 2px #72c02c;
}

.doc-content .callout-info h4 {
    color: #72c02c;
}
