#content .filter-column-header {
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

#content .filter-column {
    border-left: 1px solid lightgrey;
}

.content-wrapper {
    padding: 40px 30px 19px 30px;
    background-color: white;
}

.item-wrapper {
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.item-wrapper article.addon {
    min-height: 180px;
    overflow: hidden;
}

.item-wrapper article.addon footer {
    position: absolute;
    bottom: 20px;
}

.content-controls {
    margin-bottom: 30px;
}

.doc-content {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.doc-content * {
    font-kerning: normal;
    line-height: 20px;
}

.doc-content p {
    margin: 0;
}

.doc-content > p:first-of-type {
    margin-bottom: 20px;
}

.doc-content > p:first-of-type::first-letter {
    font-size: 2em;
}

.doc-content p + p {
    text-indent: 1em;
    margin-top: 0;
}

.doc-content ul, .doc-content ol {
    margin: 20px 0 20px 0;
    padding: 0;
}

.doc-content ul ul {
    margin-left: 20px;
}

.doc-content ol ol {
    margin-left: 20px;
}

.doc-content h1 {
    font-weight: 400;
    border-bottom: 1px solid #555;
    font-size: 30px;
    line-height: 40px;
    margin: 40px 0 39px 0;
}

.doc-content h1:first-child {
    margin-top: 0;
}

.doc-content h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 20px 0;
}

.doc-content h2:first-child {
    margin-top: 0;
}

.doc-content h3,
.doc-content h4 {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.doc-content h5,
.doc-content h6 {
    font-size: 14px;
    font-style: italic;
    margin: 0;
}

.doc-content h3 {
    margin-top: 20px;
}

.service .desc h4 {
    font-weight: normal;
    font-style: normal;
}

.doc-content ol.linenums {
    margin: 0;
}

.doc-content code {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;}

.doc-content pre {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    border-radius: 0;
    border-color: lightgray;
    border-width: 1px 1px 1px 2px;
    margin: 20px 0 20px 0;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    max-height: 400px;
}

.doc-content pre code {
    padding: 10px;
}

.doc-content table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc-content img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.doc-content figure.docker img {
    height: 20px;
    display: inline-block;
    margin: 0;
}
.doc-content blockquote {
    margin: 20px 0 20px 0;
    font-size: 14px;
    border: none;
}

.doc-content blockquote * {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.doc-content blockquote:before {
    float: left;
    color: #ccc;
    content: '\201c';
    font-size: 4em;
    line-height: 20px;
    margin-right: 0.1em;
}


.doc-content {
    counter-reset : h1;
}

.doc-content h1 {
    counter-reset : h2;
}

.doc-content h2 {
    counter-reset : h3;
}

.doc-content h3 {
    counter-reset : h4;
}

.doc-content h4 {
    counter-reset : h5;
}

.doc-content h5 {
    counter-reset : h6;
}

.doc-content h1:before {
    content : counter(h1,decimal) ". ";
    counter-increment : h1;
}

.doc-content h2:before {
    content : counter(h1,decimal) "." counter(h2,decimal) ". ";
    counter-increment : h2;
}

.doc-content h3:before {
    content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) ". ";
    counter-increment : h3;
}

.doc-content h4:before {
    content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
    counter-increment : h4;
}

.doc-content h5:before {
    content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
    counter-increment : h5;
}

.doc-content h6:before {
    content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
    counter-increment : h6;
}

.doc-content h1.nocount:before, .doc-content h2.nocount:before, .doc-content h3.nocount:before, .doc-content h4.nocount:before, .doc-content h5.nocount:before, .doc-content h6.nocount:before {
    content : "";
    counter-increment : none;
}


.callout {
    margin: 20px 0;
    padding: 20px 30px;
    border-left: 3px solid #eee;
}

.callout ul, .callout ol {
    margin: 10px 0 10px 0;
    padding: 20px;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-tips {
    background-color: #f7f7fd;
    border-color: #5bc0de
}

.callout-tips h4 {
    color: #5bc0de;
}

.callout-tips i {
    color: #5bc0de;
}

.callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.callout-danger h4 {
    color: #d9534f;
}

.callout-danger i {
    color: #d9534f;
}

.callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.callout-warning h4 {
    color: #f0ad4e;
}

.callout-warning i {
    color: #f0ad4e;
}

.callout-info {
    background-color: #f7faf5;
    border-left: solid 2px #72c02c;
}

.callout-info h4 {
    color: #72c02c;
}

.callout-info i {
    color: #72c02c;
}

.doc-content .highlight {
    background-color: #FFFF88;
}

.doc-content ul.team-v1 ul {
    margin-left: auto;
}

.doc-content ul.team-v1 img {
    margin: auto;
}

.doc-content .team-v1 li > .team-img:after {
    left: 15px;
    right: 15px;
    width: auto;
}

.doc-content ul.nav-tabs {
    margin-bottom: 0;
}

.doc-content ul.nav-pills {
    margin-top: 0;
}

.doc-content .tab-v2 .tab-content {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.doc-content .tabs-icon {
    margin-top: -30px;
    color: #88c758;
}

.doc-content .timeline-v2 img {
    margin: auto;
}

.team-v1 li > .team-img li i.fa-github:hover {
    color: #fff;
    background: black;
    border-color: black;
}

.top-pagination .pagination {
    margin-top: 0;
}

@media (max-width: 767px) {
    .content-wrapper {
        padding: 10px 5px 10px 5px;
    }

    .doc-content ul, .doc-content ol {
        margin: 10px 0 10px 0;
        padding: 20px;
    }
}

