.content-md {
    padding-top: 40px;
}

.title-header {
    height: 180px;
    overflow: hidden;
    background: #89c758 url('../img/bg-pattern.png') repeat left top;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -2px 1px #cff0b5;
}

.title-header.big {
    height: 354px;
}

.title-header .big-logo {
    height: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: right;
}

.title-header .img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-header img {
    max-height: 380px;
    vertical-align: bottom;
}

.title-header h1 {
    margin: 30px 15px 15px 0;
    font-family: 'Bitter', sans-serif;
    font-weight: normal;
    color: #f9f9f9;
    line-height: 70px;
    padding: 0;
    font-size: 70px;
    font-style: normal;
    text-shadow: 1px 1px 1px #555;
}

.title-header h2 {
    margin: 30px 15px 15px 0;
    font-family: 'Bitter', sans-serif;
    font-weight: normal;
    color: #f9f9f9;
    line-height: 40px;
    padding: 0;
    font-size: 40px;
    font-style: normal;
    text-shadow: 1px 1px 1px #555;
}

.title-header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    margin: 15px 0 15px 0;
}

.title-header p.bigger {
    font-size: 30px;
    line-height: 35px;
}

.title-header p i {
    /*background:url(../img/bg-text.png) repeat;*/
    padding: 0 10px;
    font-style: normal;
}

.title-subheader {
    padding: 0 20px 0 20px;
    background-color: #498819;
    min-height: 40px;
}

.title-subheader * {
    color: white;
    font-weight: 300;
}

.title-subheader h3 {
    margin: 0;
    padding: 5px 0 5px 0;
    line-height: 30px;
    white-space: nowrap;
}

.title-subheader h3 > img {
    height: 30px;
    vertical-align: top;
}

.title-subheader h3.active a {
    font-weight: 400;
    color: orange;
    background: transparent url('../img/triangle.svg') no-repeat 50% 24px;
    background-size: 20px 10px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.title-subheader ul {
    display: block;
    margin: 0;
    padding: 0;
}

.title-subheader ul li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.title-subheader i[class*=fa-caret-right] {
    margin-left: 5px;
}

.quick-start {
    z-index: 100;
    top: 150px;
    margin-top: 50px;
    background: transparent;
    border: 0;
}

.quick-start h4 {
    color: #FFFFFF;
}

.quick-start .quick-paste {
    background-color: rgba(73, 136, 25, 0.5);
    padding: 10px;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Source Code Pro', courier, monospace !important;
    list-style-type: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.quick-start .quick-paste > li > span {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    color: white;
}

.quick-start .quick-paste > li.unix::before {
    content: '$ ';
    color: white;
}

.quick-start .quick-paste > li.windows::before {
    content: '> ';
    color: white;
}

.btn-u.btn-u-download-win {
    background: #498819;
    font-size: 18px;
    height: 43px;
}

.prompt {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.inner-results h3 img {
    margin-top: -6px;
    height: 32px;
    width: 32px;
}

.header .navbar-default .navbar-nav li a {
    font-weight: 300;
}

.navbar-toggle {
    margin-top: 20px;
    padding: 5px 10px 3px 10px !important;
}

.logo {
    color: #687074;
    font-weight: 300;
    font-size: 28px;
    padding-left: 36px;
    background: transparent url('../img/logos/seedstack-logo.svg') no-repeat left center;
    background-size: 32px 32px;
}

.header-image-wrapper {
    text-align: center;
}

.header-image {
    padding: 15px 0;
    width: 180px;
    height: 180px;
}

.bg-parallax {
    width: 100%;
    height: auto;
    padding: 50px 0;
    position: relative;
    background: #89c758 url('../img/bg-pattern.png') repeat fixed;
}

kbd {
    display: inline-block;
    padding: 5px 5px;
    font-family: 'Source Code Pro', courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}

.keyboard-mappings tr td {
    padding: 5px;
}

.homepage-subheader-link {
    float: right;
    vertical-align: top;
}

.channel-marker {
    z-index: 9999;
    overflow: hidden;
}

.channel-marker.beta {
    background-color: #3f66ff;
    color: #fff;
}

.channel-marker.dev {
    background-color: #ff2437;
    color: #fff;
}

.channel-marker span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0 10px 0;
}

.channel-marker span a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .navbar > .container .navbar-brand {
        padding-left: 51px;
    }
}

@media (max-width: 600px) {
    .title-header h1 {
        font-size: 55px !important;
    }

    .btn-download-example {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .github-link {
        padding-right: 0;
        float: none;
    }

    .title-subheader h3.active a {
        background: none;
    }
}

@media (min-width: 992px) {
    .header .navbar-nav {
        padding-left: 150px;
    }
}

@media (max-width: 1199px) {
    .header .navbar-nav > li > a {
        padding-left: 0;
    }

    .header .dropdown-menu {
        min-width: 160px;
    }
}
