.side-menu {
    z-index: 2;
    margin: 0 0;
}

.side-menu * {
    line-height: 20px;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
}

.side-menu .list-group-item {
    border: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.side-menu .list-group-item ul {
    padding-left: 20px;
    list-style-type: none;
}

.side-menu .list-group-item ul li {
    list-style-type: none;
}

.side-menu .list-group-item ul li > a {
    list-style-type: none;
    color: black;
}

.side-menu .list-group-item ul li > a.active {
    font-weight: bold;
    color: #3498db;
}

.side-menu .list-group-header {
    margin-top: 20px;
    background-color: #3498db;
    font-size: 18px;
    color: white;
}

.side-menu .list-group-header a.active {
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #3498db;
}

.side-menu .list-group-header:first-of-type {
    margin-top: 0;
}

.nav > li > a {
    padding: 10px 0 10px 10px;
    line-height: 20px;
    color: white;
}

.side-menu ul#tags {
    list-style-type: none;
}

.side-menu ul#tags li {
    display: inline;
}

.side-menu ul#tags li + li:before {
    content: "\0000b7  ";
}

@media (max-width: 991px) {
    .side-menu.affix {
        margin-top: 20px;
        top: 0;
        position: relative;
    }

    .side-menu #TableOfContents {
        display: none;
    }
}

@media (min-width: 992px) {
    .side-menu.affix {
        width: 213px;
    }
}

@media (min-width: 1200px) {
    .side-menu.affix {
        width: 263px;
    }
}