@import url('./menu.css');
@import url('./content.css');
@import url('./layout.css');
@import url('./colors.css');
@import url('./mockup.css');

html {
    overflow-y: scroll;
}

body {
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: #eee;
}

body > #header {
    background-color: white;
}

body > #content {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100vh - 112px - 249px);
}

body.homepage > #content {
    min-height: calc(100vh - 292px - 249px);
}

body.full > #content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

body > #content > iframe {
    border: none;
    width: 100%;
    height: 100%;
}

body > #footer > .footer-v3 > .footer {
    padding: 0;
}

.tags a.label {
    font-size: 14px;
    line-height: 32px;
    background-color: #72c02c;
}

.header .logo {
    height: 72px;
    z-index: 99999;
}

@media (max-width: 767px) {
    body > #content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}