<article class="post">
    <header>
    <h2 class="nocount"><a style="text-decoration: none;" href='{{ .Permalink }}'>{{ or .Params.Guide .Title }}</a><small style="margin-top: 15px;" class="pull-right">{{ dateFormat "Jan 2, 2006" .Date }}</small></h2>
    </header>

    {{ if not (eq .Description "") }}
        {{ .Description }}
    {{ else }}
        {{ .Summary }}
    {{ end }}
    <a href="{{ .Permalink }}"><small><nobr>read more ({{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }}) →</nobr></small></a>
    <small class="pull-right">by {{ .Params.author }}</small>
    <footer>
    </footer>
</article>