.docgen-service  {
    background: url("../img/docgen/singleton-m.png") no-repeat scroll -5px -5px transparent;
    background-size: 32px;
    padding-left: 32px;
}

.docgen-directive {
    background: url("../img/docgen/component-m.png") no-repeat scroll -5px -3px transparent;
    background-size: 32px;
    padding-left: 32px;
}

.docgen-filter {
    background: url("../img/docgen/filter-m.png") no-repeat scroll 0 0 transparent;
    background-size: 20px;
    padding-left: 32px;
}

.docgen-event {
    background: url("../img/docgen/event.png") no-repeat scroll 0 0 transparent;
    background-size: 20px;
    padding-left: 32px;
}

.docgen-properties {
}

.docgen-properties > h4 {
    padding-bottom: 20px;
}

.docgen-property {
    margin-top: 19px;
    border-top: 1px solid #d3d3d3;
}

.docgen-property-def {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.docgen-property .name {
    color: black;
    font-weight: bold;
}

.docgen-property .type {
    color: #083772;
}

.docgen-functions {
}

.docgen-functions > h4 {
    padding-bottom: 20px;
}

.docgen-function {
    margin-top: 19px;
    border-top: 1px solid #d3d3d3;
}

.docgen-function-prototype {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.docgen-function-prototype .name {
    color: black;
    font-weight: bold;
}

.docgen-function-prototype .type {
    color: #083772;
}

[class^="docgen-icon-"], [class*="docgen-icon-"] {
    padding-left: 25px;
    height: 16px;
    width: 16px;
}

.docgen-icon-pkg {
    background: url("../img/docgen/icons.png") no-repeat 0 -2px
}

.docgen-icon-class {
    background: url("../img/docgen/icons.png") no-repeat 0 -38px
}

.docgen-icon-singleton {
    background: url("../img/docgen/icons.png") no-repeat 0 -78px
}

.docgen-icon-subclass {
    background: url("../img/docgen/icons.png") no-repeat 0 -118px
}

.docgen-icon-component {
    background: url("../img/docgen/icons.png") no-repeat 0 -158px
}

.docgen-icon-cfg {
    background: url("../img/docgen/icons.png") no-repeat 0 -198px
}

.docgen-icon-property {
    background: url("../img/docgen/icons.png") no-repeat 0 -238px
}

.docgen-icon-method {
    background: url("../img/docgen/icons.png") no-repeat 0 -278px;
}

.docgen-icon-event {
    background: url("../img/docgen/icons.png") no-repeat 0 -318px
}

.docgen-icon-guide {
    background: url("../img/docgen/icons.png") no-repeat 0 -358px
}

.docgen-icon-video {
    background: url("../img/docgen/icons.png") no-repeat 0 -398px
}

.docgen-icon-example {
    background: url("../img/docgen/icons.png") no-repeat 0 -438px
}

.docgen-icon-css_var {
    background: url("../img/docgen/icons.png") no-repeat 0 -478px
}

.docgen-icon-css_mixin {
    background: url("../img/docgen/icons.png") no-repeat 0 -518px
}

.docgen-icon-class-redirect {
    background: url("../img/docgen/icons.png") no-repeat 0 -558px
}

.docgen-icon-singleton-redirect {
    background: url("../img/docgen/icons.png") no-repeat 0 -598px
}

.docgen-icon-component-redirect {
    background: url("../img/docgen/icons.png") no-repeat 0 -638px
}
