@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/open-sans-regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/open-sans-italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/open-sans-light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/open-sans-bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/open-sans-bold-italic.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/source-code-pro-regular.ttf');
}

@font-face {
    font-family: 'Bitter';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/bitter-bold.otf');
}

