<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="sidebar" data-role="navigation">
                    {{ partial "menu.html" . }}
                </div>
                <div class="col-md-9 doc-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>
