<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "news-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><span><i class="fa fa-list"></i> <a href="{{ $.Site.BaseURL }}posts">All posts</a></span></li>
                <li><span class="active"><i class="fa fa-file-text"></i> <a href="">{{ .Title }}</a></span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">
                <div class="doc-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toc">
    {{ partial "toc.html" . }}
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
