<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>404 !</h2>
                <p>Page not found.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/404-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
</div>
