<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Add-ons</h1>
                <p class="hidden-xs">Ready-to-use modules that extend SeedStack features at the flick of a switch.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/addons-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
