<div class="row">
    {{ if .Params.NoMenu }}
    <div class="col-md-12">
    {{ else }}
    <div class="col-md-3">
        {{ partial "side-menu.html" . }}
    </div>
    <div class="col-md-9">
    {{ end }}
        <div class="content-wrapper">
            <div class="doc-content">
                <h1 class="nocount">{{ .Title | title }}</h1>
                {{ .Content }}
            </div>
        </div>
        <div>
            {{ partial "navbar.html" . }}
        </div>
    </div>
</div>
