<script>
    var formElt = document.getElementById('criteria'),
        filterElt = document.getElementById('filter');

    function computeVisibility() {
        var filterValue = $(filterElt).val();

        $('.filterable-item').each(function (idx, elt) {
            var $elt = $(elt);
            var $article = $(elt).find("article");
            var text = $article.text();
            if (filterValue && text && text.toLowerCase().indexOf(filterValue.toLowerCase()) === -1) {
                $elt.hide();
            } else {
                $elt.show();
            }
        });
    }

    if (formElt) {
        formElt.onsubmit = function () {
            window.location = $('.filterable-item:visible:first h1 a').attr('href');
            return false;
        };
    }

    if (filterElt) {
        filterElt.onkeyup = function () {
            computeVisibility();
        };
        filterElt.focus();
        document.addEventListener('seedstack', function () {
            var query = seedstack.strings.parseQueryString(location);
            if (query.f && query.f.length >= 1 && query.f[0] !== "") {
                filterElt.value = query.f;
            }
            computeVisibility();
        });
    }
</script>
