<script>
    var onlyBackend = false,
            onlyFrontend = false,
            formElt = document.getElementById('criteria'),
            filterElt = document.getElementById('filter'),
            filterTimeout;

    function computeVisibility() {
        var filterValue = $(filterElt).val();

        $('.filterable-item').each(function (idx, elt) {
            var $elt = $(elt);
            var $article = $(elt).find("article");

            if (!onlyBackend && !onlyFrontend) {
                $elt.show();
            } else if (onlyBackend && onlyFrontend && $article.data('addon-backend') == true && $article.data('addon-frontend') == true) {
                $elt.show();
            } else if (onlyBackend && !onlyFrontend && $article.data('addon-backend') == true) {
                $elt.show();
            } else if (!onlyBackend && onlyFrontend && $article.data('addon-frontend') == true) {
                $elt.show();
            } else {
                $elt.hide();
                return;
            }

            var text = $article.text();
            if (filterValue && text && text.toLowerCase().indexOf(filterValue.toLowerCase()) === -1) {
                $elt.hide();
            }
        });
    }

    function showOnly(type) {
        if (type === "backend") {
            onlyBackend = !onlyBackend;
        }
        if (type === "frontend") {
            onlyFrontend = !onlyFrontend;
        }
        computeVisibility();
    }

    function filterChanged() {
        clearTimeout(filterTimeout);

        filterTimeout = setTimeout(function () {
            computeVisibility();
        }, 250);
    }

    if (formElt) {
        formElt.onsubmit = function () {
            window.location = $('.filterable-item:visible:first h1 a').attr('href');
            return false;
        };
    }

    if (filterElt) {
        filterElt.onkeyup = function () {
            computeVisibility();
        };

        filterElt.focus();
    }
</script>
