<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>About</h2></div>
                    <p class="margin-bottom-25 md-margin-bottom-40">SeedStack is a software stack for building enterprise applications.</p>
                </div>

                <div class="col-md-4 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Recent Blog Entries</h2></div>
                        <dl class="dl-horizontal" data-ng-repeat="post in latestPosts">
                            <dt><a target="_blank"><img style="border: none;" src="/img/blog.png" alt=""/></a></dt>
                            <dd>
                                <p><a target="_blank"></a></p>
                                <p style="color: #72c02c;"><small></small></p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-4 map-img">
                    <div class="headline"><h2>Contact us</h2></div>
                    <address class="md-margin-bottom-40">

                    </address>

                    <div class="headline"><h2>Stay in touch</h2></div>
                    <ul class="social-icons">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
