<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2>About</h2></div>
                    <p class="margin-bottom-25 md-margin-bottom-40">SEED is a software stack for building enterprise applications.</p>
                </div>

                <div class="col-md-4 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Recent Blog Entries</h2></div>
                        <dl class="dl-horizontal" data-ng-repeat="post in latestPosts">
                            <dt><a target="_blank"><img style="border: none;" src="assets/seedstack/img/blog.png" alt=""/></a></dt>
                            <dd>
                                <p><a target="_blank"></a></p>
                                <p style="color: #72c02c;"><small></small></p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-4 map-img">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        <a target="_blank" data-ng-href="../qa">Question & Answers</a><br/>
                    </address>

                    <div class="headline"><h2>RSS feeds</h2></div>
                    <ul class="social-icons">
                        <li><a target="_blank" href="../qa/index.php?qa=feed&qa_1=qa.rss" data-original-title="Q&A feed" class="social_rss"></a></li>
                        <li><a target="_blank" href="../blog/?feed=rss2" data-original-title="Blog feed" class="social_wordpress"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
