{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Getting started</h1>
                <p class="hidden-xs">Learn the basics and start a project from scratch with our archetypes and generators.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/getting-started-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><span class='{{ if eq $section "GettingStartedQuickStart" }}active{{ end }}'><i class="fa fa-rocket"></i> <a href="/getting-started">Quick start</a></span></li>
            <li><span class='{{ if eq $section "GettingStartedTutorial" }}active{{ end }}'><i class="fa fa-graduation-cap"></i> <a href="/getting-started/tutorial">Tutorial</a></span></li>
            <li><span class='{{ if eq $section "GettingStartedProjectTemplates" }}active{{ end }}'><i class="fa fa-cubes"></i> <a href="/getting-started/project-templates">Project templates</a></span></li>
            <li><span class='{{ if eq $section "GettingStartedSamples" }}active{{ end }}'><i class="fa fa-file-text-o"></i> <a href="/getting-started/samples">Samples</a></span></li>
        </ul>
    </div>
</div>
