{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Getting started</h2>
                <p>Learn about SeedStack concepts and organization.</p>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/getting-started-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "GettingStartedIntroduction" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/docs/getting-started">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "GettingStartedDistribution" }}active{{ end }}'><i class="fa fa-cube"></i> <a href="/docs/getting-started/distribution">Distribution</a></h3></li>
        </ul>
    </div>
</div>
