{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Glossary</h2>
                <p>Definitions of significant terms used throughout the Website.</p>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/glossary-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "GlossaryIntroduction" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/glossary">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "GlossaryAF" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/glossary/a-f">A..F</a></h3></li>
            <li><h3 class='{{ if eq $section "GlossaryGM" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/glossary/g-m">G..M</a></h3></li>
            <li><h3 class='{{ if eq $section "GlossaryNS" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/glossary/n-s">N..S</a></h3></li>
            <li><h3 class='{{ if eq $section "GlossaryTZ" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/glossary/t-z">T..Z</a></h3></li>
        </ul>
    </div>
</div>
