<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Guides</h1>
                <p class="hidden-xs">Hands-on instructions and detailed insight applicable to SeedStack-based projects.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="{{ $.Site.BaseURL }}img/logos/guides-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
