{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Guides</h2>
                <p class="hidden-xs">Hands-on instructions and detailed insight applicable to SeedStack-based projects.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/guides-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "GuidesIntroduction" }}active{{ end }}'><i class="fa fa-file-text"></i><a href="/guides">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "GuidesTasks" }}active{{ end }}'><i class="fa fa-book"></i><a href="/guides/tasks">Tasks</a></h3></li>
            <li><h3 class='{{ if eq $section "GuidesDesign" }}active{{ end }}'><i class="fa fa-book"></i> <a href="/guides/design">Design</a></h3></li>
        </ul>
    </div>
</div>
