{{ if isset .Params.zones 0 }}
    {{ $.Scratch.Add "zone" (index .Site.Params.zone (index .Params.zones 0) "label") }}
{{ end }}
<title>
    {{ if or (eq ($.Scratch.Get "zone") "Add-ons") (eq ($.Scratch.Get "zone") "Themes") }}{{ .Params.name }} - {{ end }}{{ if eq .Title ""}}SeedStack - Clean Java development stack{{ else }}{{ .Title }}{{ end }}
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if eq (printf "%s" $.Site.BaseURL) "http://beta.seedstack.org/" }}
<meta name="robots" content="noindex,nofollow">
{{ else if eq (printf "%s" $.Site.BaseURL) "http://dev.seedstack.org/" }}
<meta name="robots" content="noindex,nofollow">
{{ end }}

<!-- style -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Bitter:700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/unify/css/style.css">
<link rel="stylesheet" href="/assets/unify/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/css/style.css">
<!-- end of style -->

<!-- JSON+LD structured data -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "SeedStack",
  "image" : "http://www.seedstack.org/img/logos/seedstack-logo-round.svg",
  "publisher" : {
    "@type" : "Organization",
    "name" : "Open-Source Software"
  },
  "applicationCategory" : "development stack"
}
</script>
<!-- end of JSON+LD structured data -->

<!-- opengraph -->
<meta property="og:title" content="{{ .Title }}" />
{{ if .IsPage }}<meta property="og:description" content="{{ .Summary }}" />{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="SeedStack" />
<meta property="og:image" content="{{ .Site.BaseURL }}img/opengraph-default.png" />
<!-- end of opengraph -->

<!-- opensearch -->
<link rel="search" type="application/opensearchdescription+xml" href="{{ .Site.BaseURL }}opensearch.xml" title="SeedStack" />
<!-- end of opensearch -->

<!-- favicons from http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/favicons/manifest.json">
<meta name="apple-mobile-web-app-title" content="SeedStack">
<meta name="application-name" content="SeedStack">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- end of favicons -->

<!-- Create global namespace -->
<script type="text/javascript">
    window.seedstack = {
        state: {}
    };
</script>
<!-- end of global namespace -->
