<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

    <title>SeedStack - {{.Title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
    <link rel="stylesheet" href="/assets/unify/css/style.css">
    <link rel="stylesheet" href="/assets/fontawesome-3/fontawesome-3.css">
    <link rel="stylesheet" href="/assets/fontawesome-4/fontawesome-4.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
</head>