{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Maven plugin</h1>
                <p class="hidden-xs">
                    Documentation about SeedStack Maven plugin goals and usage.
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/tools-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><span class='{{ if eq $section "MavenPluginEssentials" }}active{{ end }}'><i class="fa fa-certificate"></i> <a href="{{ $.Site.BaseURL }}docs/maven-plugin">Essentials</a></span></li>
            <li><span class='{{ if eq $section "MavenPluginManual" }}active{{ end }}'><i class="fa fa-book"></i> <a href="{{ $.Site.BaseURL }}docs/maven-plugin/manual">Manual</a></span></li>
            <li><span><i class="fa fa-tag"></i> <a href="https://github.com/seedstack/seedstack-maven-plugin/releases" target="_blank">Releases</a></span></li>
            <li><span><i class="fa fa-github"></i> <a href="https://github.com/seedstack/seedstack-maven-plugin" target="_blank">Source</a></span></li>
        </ul>
    </div>
</div>
