{{ $parent := . }}
{{ range $key, $value := $.Params.menu }}
{{ $currentUrl := $parent.RelPermalink }}
{{ if gt (len (index $parent.Site.Menus $key)) 1 }}
{{ range index $parent.Site.Menus $key }}
{{ if eq $currentUrl .URL }}
{{ if eq ($parent.Scratch.Get "hasPrevious") true }}
    <div class='margin-top-20 pull-left'>
        <a href='{{ $parent.Scratch.Get "previousPage" }}' class="btn btn-default"><i class="fa fa-angle-left"></i> {{ $parent.Scratch.Get "previousPageName" }}</a>
    </div>
{{ end }}
{{ $parent.Scratch.Set "current" true }}
{{ else if eq ($parent.Scratch.Get "current") true }}
    <div class='margin-top-20 pull-right'>
        <a href='{{ .URL }}' class="btn btn-u">{{ .Name }} <i class="fa fa-angle-right"></i></a>
    </div>
{{ $parent.Scratch.Set "current" false }}
{{ end }}
{{ $parent.Scratch.Set "hasPrevious" true }}
{{ $parent.Scratch.Set "previousPage" .URL }}
{{ $parent.Scratch.Set "previousPageName" .Name }}
{{ end }}
{{ end }}
{{ end }}
<div class="clearfix"></div>