{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Project</h1>
                <p class="hidden-xs">Meta-information about the SeedStack project itself.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/project-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <!--<li><span class='{{ if eq $section "ProjectOverview" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/project">Overview</a></span></li>-->
            <li><span class='{{ if eq $section "ProjectCommunity" }}active{{ end }}'><i class="fa fa-users"></i> <a href="/project/community">Community</a></span></li>
            <li><span class='{{ if eq $section "ProjectRoadmap" }}active{{ end }}'><i class="fa fa-road"></i> <a href="/project/roadmap">Roadmap</a></span></li>
            <li><span class='{{ if eq $section "ProjectFAQ" }}active{{ end }}'><i class="fa fa-question"></i> <a href="/project/faq">FAQ</a></span></li>
        </ul>
    </div>
</div>
