{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Samples</h2>
                <p>Simple to understand samples demonstrating SeedStack features.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/samples-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "SamplesIntroduction" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/samples">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "DomainSample" }}active{{ end }}'><i class="fa fa-cube"></i> <a href="/samples/domain">E-commerce domain</a></h3></li>
            <li><h3 class='{{ if eq $section "Showcase" }}active{{ end }}'><i class="fa fa-shopping-cart"></i> <a href="/samples/showcase">Showcase</a></h3></li>
            <li class="pull-right"><h3><i class="fa fa-github"></i> <a href="http://github.com/seedstack/showcase" target="_blank">Source</a></h3></li>
        </ul>
    </div>
</div>
