<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/gradle.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.5.9/lunr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="/js/jquery.highlight.js"></script>
<script src="/js/seedstack.js"></script>
<script>
    $(document).ready(function () {
        var $search = $('.search-btn');

        $('.search').click(function () {
            if ($search.hasClass('fa-search')) {
                seedstack.ui.openSearch();
            } else {
                seedstack.ui.closeSearch();
            }
        });

        function hideJavaImports(block) {
            $(block).filter('.language-java')
                .find('table > tbody > tr')
                .each(function (i, javaLine) {
                    var $javaLine = $(javaLine);
                    var code = $javaLine.find("td.hljs-ln-code div.hljs-ln-line").text();
                    if (/^package/.test(code) || /^import/.test(code) || code.trim().length === 0) {
                        $javaLine.hide();
                    } else {
                        return false;
                    }
                });
        }

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
            hljs.lineNumbersBlock(block);

            // Remove empty line added by numbering plugin
            var lastLine = $(block).find('table > tbody > tr:last');
            if (lastLine.text().trim() === "") {
                lastLine.remove();
            }

            // Hide Java package and imports if any
            hideJavaImports(block);
        });

        // loop through all h2 and h3 headers
        $('.doc-content h2, .doc-content h3').each(function () {
            $(this).append(" <a class='title-anchor' href='#" + this.id + "'>#</a>");
        });

        Mousetrap.bind('/', function () {
            seedstack.ui.openSearch();
            return false;
        });

        Mousetrap.bind('alt+up', function () {
            if (seedstack.state.previousPage) {
                window.location = seedstack.state.previousPage;
            }
            return false;
        });

        Mousetrap.bind('alt+down', function () {
            if (seedstack.state.nextPage) {
                window.location = seedstack.state.nextPage;
            }
            return false;
        });

        Mousetrap.bind('?', function () {
            seedstack.ui.openHelp();
            return false;
        });

        Mousetrap.bind('esc', function () {
            seedstack.ui.closeHelp();
            seedstack.ui.closeSearch();
            seedstack.ui.closeVersions();
            return false;
        });

        var originalCallback = Mousetrap.stopCallback;
        Mousetrap.stopCallback = function (e, element, combo) {
            if (combo === 'esc') {
                return false;
            }

            return originalCallback(e, element, combo);
        };

        function bindShortcuts(value) {
            $.each(value, function (sequence, item) {
                if (typeof item === 'string') {
                    Mousetrap.bind("g " + sequence, function () {
                        window.location = item;
                        return false;
                    });
                } else if (typeof item === 'object') {
                    Mousetrap.bind("g " + sequence, function () {
                        window.location = item.path;
                        return false;
                    });
                    if (item.shortcuts && location.pathname.indexOf(item.path) === 0) {
                        bindShortcuts(item.shortcuts);
                    }
                }
            });
        }

        bindShortcuts(seedstack.ui.shortcuts);

        $('.quick-paste span').each(function (index, element) {
            $(element).attr({"id": "quick-paste-line"});
            $(element).append("<span data-toggle=\"tooltip\" data-placement=\"top\" data-title=\"Copy\" data-clipboard-target=\"#quick-paste-line\" class=\"copy-button\"><i class=\"fa fa-clipboard\"></i></span>");
        });
        var preId = 0;
        $('.doc-content pre').each(function (index, element) {
            preId++;
            $(element).attr({"id": "snippet-" + preId});
            $(element).prepend("<span data-toggle=\"tooltip\" data-placement=\"left\" data-title=\"Copy\" data-clipboard-target=\"#snippet-" + preId + "\" class=\"copy-button\"><i class=\"fa fa-clipboard\"></i></span>");
        });
        var clipboard = new Clipboard('.copy-button', {
            target: function (trigger) {
                var elt = $($(trigger).data('clipboard-target'));
                elt.find('code > table > tbody > tr').show();
                return elt.get(0);
            }
        });
        clipboard.on('success', function (e) {
            var elt = $($(e.trigger).data('clipboard-target'));
            hideJavaImports($(elt).children("code"));

            var tooltip = $("body #" + $(e.trigger).attr("aria-describedby"));
            tooltip.css('left', '-=14px');
            tooltip.children(".tooltip-inner").html("Copied!");
            e.clearSelection();
        });
        clipboard.on('error', function (e) {
            var tooltip = $("body #" + $(e.trigger).attr("aria-describedby"));
            tooltip.css('left', '-=83px');
            tooltip.children(".tooltip-inner").html("Error! Copy manually");
        });

        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });

        $('#hotkeys-modal, #versions-modal').bind('hidden.bs.modal', function () {
            $("html").css("margin-right", "0px");
        }).bind('show.bs.modal', function () {
            $("html").css("margin-right", "-15px");
        });

        var query = seedstack.strings.parseQueryString(location);
        if (query.h && query.h.length > 0) {
            $('.doc-content').highlight(query.h);
            if (query.scroll) {
                var firstOccurence = $('span[class=highlight]:first');
                if (firstOccurence.length > 0) {
                    $('html, body').animate({
                        scrollTop: firstOccurence.offset().top - 20
                    }, 250);
                }
            }
        }

        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({scrollTop: 0}, 250);
            return false;
        });
    });
</script>
<script>window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
        t._e.push(f);
    };
    return t;
}(document, "script", "twitter-wjs"));</script>
