{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Search results</h2>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/search-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 id="search-title" class="active"><a href="">Results</a></h3></li>
        </ul>
    </div>
</div>
