{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Java framework</h1>
                <p class="hidden-xs">
                    The Java framework provides support for core technologies such as
                    dependency injection, configuration, security, command-line, Web and REST.
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="{{ $.Site.BaseURL }}img/logos/seed-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><span class='{{ if eq $section "SeedEssentials" }}active{{ end }}'><i class="fa fa-certificate"></i> <a href="{{ $.Site.BaseURL }}docs/seed">Essentials</a></span></li>
            <li><span class='{{ if eq $section "SeedManual" }}active{{ end }}'><i class="fa fa-book"></i> <a href="{{ $.Site.BaseURL }}docs/seed/manual">Manual</a></span></li>
            <li><span><i class="fa fa-tag"></i> <a href="https://github.com/seedstack/seed/releases" target="_blank">Releases</a></span></li>
            <li><span><i class="fa fa-github"></i> <a href="https://github.com/seedstack/seed" target="_blank">Source</a></span></li>
        </ul>
    </div>
</div>
