{{ $displayType := ($.Scratch.Get "displayType") }}
{{ $serverName := (upper ($.Scratch.Get "serverName")) }}
{{ $element := getJSON ($.Scratch.Get "jsonFile") }}
{{ if eq 1 $displayType }}
    {{ with $element.Version }}
        <th>{{ $element.Version }}</th>
    {{ else }}
        <th><span class="label label-info rounded">In progress !</span></th>
    {{ end }}
{{ end }}
{{ if eq 2 $displayType }}
    {{ with $element.Result }}
        {{ if eq (upper $element.Result) "SUCCESS" }}
            <td><span class="label label-success rounded">Success</span></td>
        {{ else }}
            <td><span class="label label-danger rounded">Error</span></td>
        {{ end }}
    {{ else }}
        <td><span class="label label-info rounded">In progress !</span></td>
    {{ end }}
{{ end }}
 