{{ $parent := . }}
{{ range .Menus }}
<div class="side-menu">
    {{ if gt (len (index $parent.Site.Menus .Menu)) 1 }}
    <div class="list-group">
        <ul class="nav">
            {{ $toc := $parent.TableOfContents }}
            {{ $currentUrl := $parent.RelPermalink }}
            {{ range index $parent.Site.Menus .Menu }}
                {{ $active :=  eq $currentUrl .URL }}
                <li>
                    <a href="{{ .URL }}" class="list-group-item {{ if $active }} active {{ end }}">
                        {{ .Name }}
                    </a>
                    {{ if $.Scratch.Get "nextPage" }}
                        <script>
                            seedstack.state.nextPage = '{{ .URL }}';
                        </script>
                        {{ $.Scratch.Set "nextPage" false }}
                    {{ end }}
                    {{ if $active }}
                        {{ $toc }}
                        <script>
                            seedstack.state.previousPage = '{{ $.Scratch.Get "previous" }}';
                        </script>
                        {{ $.Scratch.Set "nextPage" true }}
                    {{ end }}
                </li>
                {{ $.Scratch.Set "previous" .URL }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ if $parent.Params.tags }}
    <div class="list-group">
        <ul class="nav">
            <li class="list-group-item"><div style="margin-bottom: 10px;"><i class="fa fa-tag"></i> Tags</div>
                <div class="tags">
                    {{ range $parent.Params.tags }}
                    <a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
            </li>
        </ul>
    </div>
    {{ end }}
    <div class="list-group">
        <ul class="nav">
            {{with $parent.File }}<li><a class="list-group-item" href="https://github.com/seedstack/website/edit/master/content/{{ html .Dir }}{{ html .LogicalName }}" target="_blank"><i class="fa fa-edit"></i> Contribute to this page</a></li>{{end}}
        </ul>
    </div>
</div>
{{ end }}
