{{ $currentPage := . }}
{{ $zone := index .Params.zones 0 }}

{{ if eq $zone "Guides" }}
{{ $.Scratch.Set "menuKey" .Params.Guide }}
{{ else if eq $zone "Addons" }}
{{ $.Scratch.Set "menuKey" .Params.Addon }}
{{ else }}
{{ $.Scratch.Set "menuKey" (lower $zone) }}
{{ end }}

{{ $menuKey := $.Scratch.Get "menuKey" }}
{{ if $menuKey }}
{{ $menu := index .Site.Menus $menuKey }}
{{ if $menu }}
<nav class="side-menu collapse side-menu-collapse" data-role="navigation">
    <div class="list-group">
        <ul class="nav">
            {{ $currentPage.Scratch.Set "fetchPrevPage" true }}
            {{ range $menu.ByWeight }}
            <li class="list-group-header">
                <a href="{{ if .HasChildren }}{{ (index .Children 0).URL }}{{ else }}{{ .URL }}{{ end }}" class="{{if or ($currentPage.IsMenuCurrent $menuKey .) ($currentPage.HasMenuCurrent $menuKey .) }} active{{end}}" data-target=".{{ .Name | urlize }}">{{ .Name | title }}</a>
            </li>
            {{ if .HasChildren }}
            <li class="list-group-item">
                <ul>
                    {{ range .Children }}
                    {{ $active := $currentPage.IsMenuCurrent $menuKey .}}
                    <li>
                        {{ .Pre }}
                        <a href="{{.URL}}" class="{{if $active }}active{{end}}">
                            {{ .Name | title }}
                        </a>
                        {{ .Post }}
                    </li>
                    {{ if $currentPage.Scratch.Get "fetchNextPage" }}
                        {{ $currentPage.Scratch.Set "menuNextPage" . }}
                        {{ $currentPage.Scratch.Set "fetchNextPage" false }}
                        <script>
                            seedstack.state.nextPage = '{{ .URL }}';
                        </script>
                    {{ end }}
                    {{ if $active }}
                        {{ $currentPage.Scratch.Set "fetchNextPage" true }}
                        {{ $currentPage.Scratch.Set "fetchPrevPage" false }}
                    {{ end }}
                    {{ if $currentPage.Scratch.Get "fetchPrevPage" }}
                        {{ $currentPage.Scratch.Set "menuPrevPage" . }}
                        <script>
                            seedstack.state.previousPage = '{{ .URL }}';
                        </script>
                    {{ end }}
                    {{ end }}
                </ul>
            </li>
            {{end}}
            </li>
            {{end}}
        </ul>
    </div>
</nav>
{{ end }}
{{ end }}
