<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Themes</h2>
                <p class="hidden-xs">Ready-to-use graphical themes for customizing your SeedStack Web frontend.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="{{ $.Site.BaseURL }}img/logos/themes-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
