{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Tools</h2>
                <p>Utilities to help create, evolve and maintain SeedStack-based projects.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="/img/logos/tools-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "ToolsIntroduction" }}active{{ end }}'><i class="fa fa-file-text"></i> <a href="/docs/tools">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "ToolsMavenPlugin" }}active{{ end }}'><i class="fa fa-cogs"></i> <a href="/docs/tools/maven-plugin">Maven plugin</a></h3></li>
        </ul>
    </div>
</div>
