{{ $section := index .Params.sections 0 }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h2>Web framework</h2>
                <p class="hidden-xs">Also known as W20, the Web framework is built upon a powerful RequireJS/AngularJS mix to help you develop single page applications.</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="{{ $.Site.BaseURL }}img/logos/w20-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li><h3 class='{{ if eq $section "W20Introduction" }}active{{ end }}'><i class="fa fa-play-circle"></i> <a href="{{ $.Site.BaseURL }}docs/w20">Introduction</a></h3></li>
            <li><h3 class='{{ if eq $section "W20Manual" }}active{{ end }}'><i class="fa fa-book"></i> <a href="{{ $.Site.BaseURL }}docs/w20/manual">Manual</a></h3></li>
            <li><h3><i class="fa fa-info-circle"></i> <a href="{{ $.Site.BaseURL }}jsdoc" target="_blank">JSDoc</a></h3></li>
            <li><h3><i class="fa fa-tag"></i> <a href="https://github.com/seedstack/w20/releases" target="_blank">Releases</a></h3></li>
            <li><h3><i class="fa fa-github"></i> <a href="https://github.com/seedstack/w20" target="_blank">Source</a></h3></li>
        </ul>
    </div>
</div>
