<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body style="background-color: white;">
{{ partial "initial-scripts.html" . }}
<div id="header">
{{ partial "top-menu.html" . }}
</div>
<div class="title-header big">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>SeedStack</h1>
                <p class="bigger">The lean development stack</p>
                <div class="quick-start hidden-xs">
                    <p>Create your first project in seconds...</p>
                    <ul class="quick-paste">
                        <li class="unix"><span>mvn org.seedstack:seedstack-maven-plugin:generate</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 big-logo hidden-xs hidden-sm">
                <img src="/img/logos/seedstack-logo-round.svg" style="height:300px; width: 300px;">
            </div>
        </div>
    </div>
</div>

<div class="title-subheader">
    <div class="container">
        <ul>
            <li style="padding-top: 10px;">
                <a class="twitter-follow-button"
                   href="https://twitter.com/seedstack"
                   data-show-count="true"
                   data-lang="en">
                    Follow @seedstack
                </a>
            </li>
            <li class="github-link">
                <h3><i class="fa fa-github"></i> <a href="https://github.com/seedstack">View on GitHub</a></h3>
            </li>
        </ul>
    </div>
</div>

<div class="content-md" style="padding-bottom: 0;">
    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>Enjoy building modular and scalable Web applications</h2>
            <p>
                SeedStack is a full-stack solution enabling teams to build great applications easily and efficiently. It includes
                the best Java/Web technologies and promotes an architecture that scales from one developer to vast organizations. It
                is simple for the newcomer yet powerful and extensible for the seasoned developer.
            </p>
        </div>
        <div class="row margin-bottom-40">
            <div class="col-md-5 col-md-offset-1">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x fa fa-sun-o icon-bg-u"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Write better code</h3>
                        <p>
                            Modular architecture, dependency injection, Java and Web standards,
                            hypermedia APIs...
                            <br/>
                            <strong>
                                Opinionated choices that you can rely on.
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x fa fa-rocket icon-bg-darker"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Ship faster</h3>
                        <p>
                            Quick startup with project templates, Convention-over-Configuration, sensible
                            defaults...
                            <br/>
                            <strong>Ship a production-ready application in no-time.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x fa fa-line-chart icon-bg-darker"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Focus on business</h3>
                        <p>
                            Domain-Driven Design framework, no plumbing code,
                            production-ready...
                            <br/>
                            <strong>Leverage technologies with minimal cost.</strong>
                        </p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x fa fa-puzzle-piece icon-bg-u"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Compose applications</h3>
                        <p>
                            Open/closed design, rich APIs and SPIs, automatic integration of modules,
                            add-ons library...
                            <br/>
                            <strong>Composability at every level of the stack.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Parallax Section -->
    <div class="bg-parallax parallaxBg margin-bottom-60" style="background-position: 50% 130px;">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>Main components</h2>
                <p>
                    SeedStack solution is built around three frameworks. A Java framework which provides simple and
                    efficient access to useful technologies. A Business framework based on Domain-Driven Design principles
                    for expressing your business. And a Web framework which enables to quickly develop ergonomic frontends.
                </p>
            </div>
            <div class="row text-center text-light">
                <a href="/docs/seed">
                    <div class="col-md-4 md-margin-bottom-50">
                        <img class="image-md margin-bottom-20" src="/img/logos/seed-logo.svg" alt="Java framework">
                        <h2 class="title-v3-md margin-bottom-10">Java framework</h2>
                    </div>
                </a>
                <a href="/docs/business">
                    <div class="col-md-4 md-margin-bottom-50">
                        <img class="image-md margin-bottom-20" src="/img/logos/business-logo.svg" alt="Business framework">
                        <h2 class="title-v3-md margin-bottom-10">Business framework</h2>
                    </div>
                </a>
                <a href="/docs/w20">
                    <div class="col-md-4 md-margin-bottom-50">
                        <img class="image-md margin-bottom-20" src="/img/logos/w20-logo.svg" alt="Web framework">
                        <h2 class="title-v3-md margin-bottom-10">Web framework</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Parallax Section -->

    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>Who we are</h2>
            <p>
                We are a passionate team working at the french car manufacturer
                <a style="white-space: nowrap;" target="_blank" href="http://www.psa-peugeot-citroen.com">PSA Peugeot Citroën</a>.
                SeedStack is used there for more than 2 years. It is the foundation of about 50 software projects, with
                more than <strong>20 projects already in production</strong>.
            </p>
        </div>
        <div class="row text-center margin-bottom-40">
            <h3>Core team</h3>
            <br/>
            <div class="hidden-xs">
                <div class="col-sm-12">
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/2498919?v=3&s=64" alt="Adrien LAUER"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars0.githubusercontent.com/u/5616469?v=3&s=64" alt="Kavi RAMYEAD"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/3427528?v=3&s=64" alt="Marius MATEI"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars3.githubusercontent.com/u/2495124?v=3&s=64" alt="Pierre THIROUIN"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/12045960?v=3&s=64" alt="Thierry BOUVET"></a>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-12">
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/2498919?v=3&s=64" alt="Adrien LAUER"></a>
                    <a target="_blank"> <img class="rounded-x" width="64px" height="64px" src="https://avatars0.githubusercontent.com/u/5616469?v=3&s=64" alt="Kavi RAMYEAD"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/3427528?v=3&s=64" alt="Marius MATEI"></a>
                </div>
                <div class="col-xs-12">
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars3.githubusercontent.com/u/2495124?v=3&s=64" alt="Pierre THIROUIN"></a>
                    <a target="_blank"><img class="rounded-x" width="64px" height="64px" src="https://avatars2.githubusercontent.com/u/12045960?v=3&s=64" alt="Thierry BOUVET"></a>
                </div>
            </div>
        </div>
        <div class="row text-center margin-bottom-60">
            <h4>Discover all <a href="/project/community/members">project members</a> !</h4>
        </div>
    </div>


    <div class="service-info bg-parallax parallaxBg1 margin-bottom-60">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>Getting started</h2>
            </div>

            <div class="row text-light margin-bottom-20">
                <div class="col-md-4">
                    <a href="/docs/getting-started/tutorial">
                        <div>
                            <i class="service-info-icon icon-no-bg rounded-x fa fa-graduation-cap"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Tutorial</h3>
                                <p>
                                    The best way to discover and understand SeedStack. Follow the tutorial and make your first
                                    steps.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/guides">
                        <div>
                            <i class="service-info-icon icon-no-bg rounded-x fa fa-book"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Guides</h3>
                                <p>
                                    Learn about advanced topics to build awesome applications with SeedStack.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://github.com/seedstack/samples">
                        <div>
                            <i class="service-info-icon icon-no-bg rounded-x fa fa-cube"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Samples</h3>
                                <p>
                                    Instantly deployable, focused sample projects, each demonstrating a major SeedStack
                                    feature.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row margin-bottom-20 hidden-xs" style="margin-top: 40px;">
                <div class="col-md-12">
                    <div class="blackblock">
                        <div class="css-mb with-glare">
                            <div class="mb-display-position">
                                <div class="mb-display">
                                    <div class="mb-screen-position">
                                        <div class="mb-screen">
                                            <img src="/img/getting-started/web-intro.gif">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-body"></div>
                            <div class="mb-bottom-cover"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-light margin-bottom-20 hidden-xs text-center">
                <p>This is a demo of a Web project creation. Follow the <a style="color: white; text-decoration: underline;" href="/docs/getting-started/tutorial/">tutorial</a> and do it yourself !</p>
            </div>
        </div>
    </div>

    <div class="margin-bottom-60">
        <div class="container">
            <div class="headline-center margin-bottom-60">
                <h2>What We Value</h2>
            </div>

            <div class="row margin-bottom-40">
                <div class="col-md-4">
                    <div class="content-boxes-v5 margin-bottom-30">
                        <i class="rounded-x icon-layers"></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Opinion</h3>
                            <p>A coherent set of technologies and concepts</p>
                        </div>
                    </div>
                    <div class="content-boxes-v5 md-margin-bottom-30">
                        <i class="rounded-x icon-settings"></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Modularity</h3>
                            <p>Cherry-pick the components you really need</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-boxes-v5 margin-bottom-30">
                        <i class="rounded-x icon-star"></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Simplicity</h3>
                            <p>Straightforward concepts and organization</p>
                        </div>
                    </div>
                    <div class="content-boxes-v5 md-margin-bottom-30">
                        <i class="rounded-x icon-user "></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Developer experience</h3>
                            <p>Because development should be a pleasure</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-boxes-v5 margin-bottom-30">
                        <i class="rounded-x icon-wrench"></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Efficiency</h3>
                            <p>The right tool for the right job</p>
                        </div>
                    </div>
                    <div class="content-boxes-v5 md-margin-bottom-30">
                        <i class="rounded-x icon-earphones-alt "></i>
                        <div class="overflow-h">
                            <h3 class="no-top-space">Extensibility</h3>
                            <p>Ability to extend the stack when needed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey content-sm">
        <div class="container">
            <div class="headline-center">
                <h2>Contributing</h2>
                <p class="space-lg-hor">SeedStack is Open-Source Software so you can contribute yourself to make it better. Code contributions are welcome but there is a lot more you can do to help:
                documentation fixes and improvements, issue reporting, feature suggestions, ...</p>
                <p>We would love to hear back from you!</p><br>
            </div>
            <div class="row">
                <div class="col-md-3 text-center md-margin-bottom-20 col-md-offset-3">
                    <a href="//github.com/seedstack" class="btn-u btn-brd btn-brd-hover btn-u-dark">Explore the repositories</a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="//github.com/seedstack/seedstack/blob/master/CONTRIBUTING.md" class="btn-u">Read the contribution guide</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    {{ partial "footer.html" . }}
</div>

{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
