<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body style="background-color: white;">
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
</div>
<div class="title-header big">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Clean Java development</h1>
                <h2>Take advantage of Domain-Driven Design<br> to build great Java microservices and applications.</h2>
                <div class="quick-start hidden-xs">
                    <span>Create your project by running...</span>
                    <div>
                        <ul class="quick-paste">
                            <li class="unix"><span>mvn -U org.seedstack:seedstack-maven-plugin:generate</span></li>
                        </ul>
                        <a style="text-align: right;" href="{{ $.Site.BaseURL }}docs">
                            <button class="btn-u btn-u-red" style="margin-right: 10px; width: 130px;"><i class="fa fa-rocket"></i> <small>Start now</small></button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 big-logo hidden-xs hidden-sm">
                <img src="{{ $.Site.BaseURL }}img/mascot/mascot-home.png">
            </div>
        </div>
    </div>
</div>

<div class="title-subheader">
    <div class="container">
        <ul>
            <li class="homepage-subheader-link">
                <span><a href='{{ $.Site.BaseURL }}posts/{{ (index .Site.Params "org.seedstack.version") | urlize }}-release-notes'>Current version: {{ index .Site.Params "org.seedstack.version" }}</a></span>
            </li>
            <li class="homepage-subheader-link pull-right">
                <span style="margin-right: 50px;">Member of <a target="_blank" href="https://projects.ow2.org/bin/view/seedstack/"><img style="margin-top: -4px; max-height: 25px;" src="{{ $.Site.BaseURL }}img/logos/ow2.png"></a></span>
            </li>
        </ul>
    </div>
</div>

<div class="content-md" style="padding-bottom: 0;">
    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>SeedStack is an opinionated, easy-to-use Java development stack.</h2><a href="{{ $.Site.BaseURL }}/docs/overview">Learn more...</a>
        </div>
        <div class="row margin-bottom-40">
            <div class="col-md-5 col-md-offset-1">
                <div class="content-boxes-v5 margin-bottom-30 homepage-feature-1">
                    <i class="rounded-x fa fa-diamond"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Write better code</h3>
                        <p>
                            <a href="{{ $.Site.BaseURL }}docs/basics/dependency-injection">Type-safe dependency injection</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics/learn-the-basics#configuration">Powerful configuration system</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics/testing">Testing tools</a>
                        </p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30 homepage-feature-2">
                    <i class="rounded-x fa fa-industry"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Create robust projects</h3>
                        <p>
                            <a href="{{ $.Site.BaseURL }}docs/basics#using-the-generator">Project generator</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics#dependency-management">Global dependency-management</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics#packaging">Universal one-JAR packaging</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="content-boxes-v5 margin-bottom-30 homepage-feature-3">
                    <i class="rounded-x fa fa-briefcase"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Focus on business</h3>
                        <p>
                            <a href="{{ $.Site.BaseURL }}docs/basics/business">Domain-Driven Design</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics/persistence">Built-in persistence</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}docs/basics/pagination">Simple pagination</a>
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="content-boxes-v5 md-margin-bottom-30 homepage-feature-4">
                    <i class="rounded-x fa fa-puzzle-piece"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Compose systems</h3>
                        <p>
                            <a href="{{ $.Site.BaseURL }}docs/overview#a-modular-architecture">Modular architecture</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}javadoc">Rich API</a>
                            <br/>
                            <a href="{{ $.Site.BaseURL }}addons">Extensive add-on library</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-info bg-parallax">
        <div class="container">
            <div class="headline-center headline-light margin-bottom-60">
                <h2>Getting started</h2>
            </div>

            <div class="row text-light margin-bottom-20">
                <div class="col-md-4">
                    <a href="{{ $.Site.BaseURL }}getting-started">
                        <div>
                            <i class="service-info-icon icon-no-bg rounded-x fa fa-book"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Quick start</h3>
                                <p>
                                    Create your first running application in a few minutes.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ $.Site.BaseURL }}getting-started/tutorial">
                        <div>
                            <i class="service-info-icon rounded-x fa fa-graduation-cap"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Tutorial</h3>
                                <p>
                                    The best way to discover and understand SeedStack. Follow the tutorial and make your
                                    first steps.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ $.Site.BaseURL }}getting-started/samples">
                        <div>
                            <i class="service-info-icon icon-no-bg rounded-x fa fa-cube"></i>
                            <div class="info-description">
                                <h3 class="title-v3-md">Samples</h3>
                                <p>
                                    Deployable, focused, sample projects, each demonstrating a major SeedStack
                                    feature.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row margin-bottom-20 hidden-xs" style="margin-top: 40px;">
                <div class="col-md-12">
                    <div class="blackblock">
                        <div class="css-mb with-glare">
                            <div class="mb-display-position">
                                <div class="mb-display">
                                    <div class="mb-screen-position">
                                        <div class="mb-screen">
                                            <img src="{{ $.Site.BaseURL }}img/getting-started/web-intro.gif">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-body"></div>
                            <div class="mb-bottom-cover"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-light hidden-xs text-center">
                <p>This is a demo of a Web project creation. Discover other project templates <a style="color: white; text-decoration: underline;" href="{{ $.Site.BaseURL }}getting-started/project-templates/">here</a>.
            </div>
        </div>
    </div>

    <div class="bg-grey content-sm">
        <div class="container">
            <div class="headline-center">
                <h2>Contributing</h2>
                <p class="space-lg-hor">SeedStack is Open-Source Software so you can contribute yourself to make it
                    better. Code contributions are welcome but there is a lot more you can do to help:
                    documentation fixes and improvements, issue reporting, feature suggestions, ...</p>
                <p>We would love to hear back from you!</p><br>
            </div>
            <div class="row">
                <div class="col-md-3 text-center md-margin-bottom-20 col-md-offset-3">
                    <a href="//github.com/seedstack" class="btn-u btn-brd btn-brd-hover btn-u-dark">Explore the
                        repositories</a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="//github.com/seedstack/seedstack/blob/master/CONTRIBUTING.md" class="btn-u">Read the
                        contribution guide</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    {{ partial "footer.html" . }}
</div>

{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
