<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
<div id="header">
{{ partial "top-menu.html" . }}
</div>
<div class="title-header big">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>SeedStack</h1>
                <p class="bigger">A modular enterprise-class development stack for building modern and robust applications.</p>
                <div class="quick-start hidden-xs hidden-sm">
                    <a href="http://www.seedstack.org/downloads/windows/seed.exe">
                        <button class="btn-u btn-u-download-win"><i class="fa fa-cloud-download"></i> Download seed.exe
                        </button>
                    </a>

                    <div style="height: 10px;">&nbsp;</div>
                    <ul class="quick-paste">
                        <li class="windows"><span>seed scaffold-project</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 big-logo hidden-xs hidden-sm">
                <span class="img-helper"></span><img src="/img/logos/seedstack-logo-round.svg" style="height:300px; width: 300px;">
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: right; padding-right: 63px;">
                <h3>Version 15.4 <strong>Freesia</strong></h3>
            </div>
        </div>
    </div>
</div>

<div class="purchase">
    <div class="container">
        <div class="row">
            <a href="/docs/seed">
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-coffee service-icon"></i>
                        <div class="desc">
                            <h4>Java Framework</h4>
                            <p>A rich modular framework dedicated to simplicity and efficiency.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/docs/w20">
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-html5 service-icon"></i>
                        <div class="desc">
                            <h4>Web Framework</h4>
                            <p>A modern framework yielding the power of AngularJS, AMD loading and rich ui components.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/docs/business">
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-cubes service-icon"></i>
                        <div class="desc">
                            <h4>Business Framework</h4>
                            <p>All the Domain-Driven Design building blocks to implement clean and maintainable business logic.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="headline"><h2>What is SeedStack ?</h2></div>
            <div class="row">
                <div class="col-sm-8">
                    <p style="text-align: justify">SeedStack is an enterprise-class development stack aimed at providing best-in-class solutions for common software development needs.
                        It is built around three main frameworks: the Java framework, the Web framework, the Business framework, built on top of the two others, providing high-level
                        abstractions and building blocks for realizing your business needs.</p>
                </div>
                <div class="col-sm-4">
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-ok color-green"></i> Easy to use,</li>
                        <li><i class="fa fa-ok color-green"></i> Opinionated,</li>
                        <li><i class="fa fa-ok color-green"></i> Technically advanced,</li>
                        <li><i class="fa fa-ok color-green"></i> Ready to use.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row tag-box tag-box-v5">
        <div class="col-md-8">
            <span>Need some application examples ?</span>
        </div>
        <div class="col-md-4">
            <p><a href="#!/downloads" class="btn-u btn-u-lg btn-u-darkgreen btn-download-example"><i class="fa fa-cloud-download"></i> Download Now</a></p>
        </div>
    </div>
</div>

<div class="container manifesto">
    <div class="headline"><h2>Manifesto</h2></div>
    <p>SeedStack is a global solution for developing modern applications. Here are our main goals.</p>

    <div class="row service-block margin-bottom-10" style="margin-top: 40px;">
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Offer a vision</h4>
                <div><i class="fa fa-3x fa fa-road color-grey"></i></div>
                <p><br>Through opinionated choices and concrete building blocks to back them.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Accelerate the devs</h4>
                <div><i class="fa fa-3x fa fa-bolt color-yellow"></i></div>
                <p><br>By providing a focused and powerful technical base which will save you days of coding.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Reduce the cost</h4>
                <div><i class="fa fa-3x fa fa-money color-green"></i></div>
                <p><br>By helping develop durable and maintainable software.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Facilitate reuse</h4>
                <div><i class="fa fa-3x fa fa-th color-sea"></i></div>
                <p><br>Via great modularity and a common base to share your realization with others.</p>
            </div>
        </div>
    </div>

    <div class="row service-block margin-bottom-10">
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Encourage experimentation</h4>
                <div><i class="fa fa-3x fa fa-flask color-orange"></i></div>
                <p><br>By allowing you to quickly implement your next idea in a way that can scale if needed.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Modernize your software</h4>
                <div><i class="fa fa-3x fa fa-rocket color-violet"></i></div>
                <p><br>Through the usage of current technologies and best-practices.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Improve the dev experience</h4>
                <div><i class="fa fa-3x fa fa-thumbs-up color-red"></i></div>
                <p><br>Through a solution that just works out-of-the-box and won't get in your way.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-block-in">
                <h4>Share the code</h4>
                <div><i class="fa fa-3x fa fa-globe color-blue"></i></div>
                <p><br>To allow every developer to understand the SeedStack inner workings and eventually be a part of it.</p>
            </div>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

<script>
    (function() {
//        if (/Win/.test(navigator.platform)) {
//            $('.quick-start').append(
//                '<a href="http://www.seedstack.org/downloads/windows/seed.exe"><button class="btn-u btn-u-download-win"><i class="fa fa-cloud-download"></i> Download seed.exe</button></a>' +
//                '<div style="height: 10px;">&nbsp;</div>' +
//                '<ul class="quick-paste">' +
//                    '<li class="windows"><span>seed scaffold-project</span></li>' +
//                '</ul>'
//            ).show();
//        } else if (/Mac/.test(navigator.platform)) {
//            $('.quick-start').append(
//                '<ul class="quick-paste">' +
//                    '<li class="unix"><span>curl -O http://www.seedstack.org/downloads/macosx/seed</span></li>' +
//                    '<li class="unix"><span>./seed scaffold-project</span></li>' +
//                '</ul>'
//            ).show();
//        } else if (/Linux/.test(navigator.platform)) {
//            $('.quick-start').append(
//                '<ul class="quick-paste">' +
//                    '<li class="unix"><span>wget http://www.seedstack.org/downloads/linux/seed</span></li>' +
//                    '<li class="unix"><span>./seed scaffold-project</span></li>' +
//                '</ul>'
//            ).show();
//        }
    })();
</script>

</body>
</html>