.error-v1 {
    margin-bottom: 20px;
    text-align: center;
}

.error-v1 p {
    color: #555;
    font-size: 20px;
}

.error-v1 span {
    color: #555;
    display: block;
    font-size: 40px;
}

.error-v1 span.error-v1-title {
    color: #777;
    font-size: 180px;
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

a.btn-return-home {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 22px;
    font-weight: bold;
    background: #72c02c;
    display: inline-block;
    text-decoration: none;
    padding: 12px 28px 9px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #51a00b;
}

a.btn-return-home:hover {
    color: #fff;
    background: #68af28;
    text-decoration: none;
    box-shadow: 0 0 5px #c0c2c1;
}

/*For Mobile Devices*/
@media (max-width: 500px) {
    .error-v1 p {
        font-size: 16px;
    }

    .error-v1 span {
        font-size: 30px;
    }

    .error-v1 span.error-v1-title {
        font-size: 140px;
    }
}