@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../font/open-sans-regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../font/open-sans-italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../font/open-sans-light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../font/open-sans-bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;
    src: url('../font/open-sans-bold-italic.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../font/source-code-pro-regular.ttf');
}

@font-face {
    font-family: 'Titillium';
    font-weight: bold;
    font-style: normal;
    src: url('../font/titillium-ultra-bold.woff2');
}

@font-face {
    font-family: 'Aleo';
    font-weight: normal;
    font-style: normal;
    src: url('../font/aleo-regular.otf');
}

@font-face {
    font-family: 'Bitter';
    font-weight: normal;
    font-style: normal;
    src: url('../font/bitter-regular.otf');
}

@font-face {
    font-family: 'Bitter';
    font-weight: bold;
    font-style: normal;
    src: url('../font/bitter-bold.otf');
}

