<!DOCTYPE html>
{{ $zone := index .Params.zones 0 }}
{{ $lzone := lower $zone }}
{{ $headerPartial := add $lzone "-header.html" }}
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body class="homepage">
    <div id="header">
        {{ partial "top-menu.html" . }}
        {{ partial $headerPartial . }}
    </div>
    <div id="content" class="container">
        {{ partial "content.html" . }}
    </div>
    <div id="footer">
        {{ partial "footer.html" . }}
    </div>
    {{ partial "hotkeys.html" . }}
    {{ partial "scripts.html" . }}
</body>
</html>