<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body class="read">
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "blog-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
               <li><h3 class="active"><i class="fa fa-list"></i> <a href="">All post categories</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    {{ $data := .Data }}
    <div class="content-wrapper">
        <div class="tags">
            {{ range $key, $value := .Data.Terms }}
            <a class="label label-default" href="{{ $key | urlize }}">{{ $key | title }} <small>({{ len $value }})</small></a>
            {{ end }}
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "hotkeys.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
