<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
<div id="header">
    {{ partial "header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <h3>All tags with page count</h3>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="content-wrapper">
        {{ $data := .Data }}
        <div class="tags">
            {{ range $key, $value := .Data.Terms }}
            <a href="{{ $key | urlize }}">{{ $key | title }} <small>({{ len $value }})</small></a>
            {{ end }}
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>
