<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
<link rel="stylesheet" href="/assets/unify/css/pages/page_search_inner.css">
</head>
<body>
<div id="header">
    {{ partial "header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <h3><i class="fa fa-tag"></i> Content tagged with « {{ .Title }} »</h3>
        </div>
    </div>
</div>
<div id="content" class="container" style="margin-top: 60px;">
    <div class="container s-results margin-bottom-50">
        <div class="row">
            <div class="col-md-2 hidden-xs related-search">
                <div class="row">
                    <div class="col-md-12 col-sm-4">
                        <h3>All tags</h3>
                        <ul class="list-unstyled">
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>

            {{ $paginator := .Paginator }}
            <div class="col-md-10">
                <span class="results-number">Showing {{ $paginator.NumberOfElements }} result(s) of {{ $paginator.TotalNumberOfElements }}</span>

                {{ range $paginator.Pages }}
                    {{ .Render "inner_result" }}
                {{ end }}

                <div class="text-left">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>
