<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "tags-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><h3><i class="fa fa-list"></i> <a href="/tags">All tags</a></h3></li>
                <li><h3 class="active"><i class="fa fa-tag"></i> <a href="">Content tagged with "{{ .Title }}"</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        {{ $paginator := .Paginator }}
        <div class="col-md-9">
            <div class="content-wrapper">
                {{ range $paginator.Pages }}
                {{ .Render "inner_result" }}
                {{ end }}

                <div class="text-left">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
