<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body class="read">
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "tags-header.html" . }}
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
                <div id="tagCloud" style="width: 100%; height: 400px;">
                </div>
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
<script>
    var words = [{{ range $key, $value := .Data.Terms }}{text: "{{ $key }}", weight: {{ len $value }}, link: {{ $key | urlize }}},{{ end }}];
    $('#tagCloud').jQCloud(words, {
        fontSize: {
            from: 0.1,
            to: 0.8
        }
    });
</script>
</body>
</html>
