<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Tomcat</th>
            <th class="text-center">Jetty</th>
            <th class="text-center">Websphere-liberty</th>
            <th class="text-center">Websphere</th>
        </tr>
        <tr>
            {{ $gitUrl := .Page.Params.smokeurl }}
            {{ $.Scratch.Set "displayType" 1 }}

            {{ $jsonFile := "tomcat.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "tomcat" }}
            {{ partial "servers-build.html" . }}
            
            {{ $jsonFile := "jetty.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "jetty" }}
            {{ partial "servers-build.html" . }}
            
            {{ $jsonFile := "websphere-liberty.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "websphere-liberty" }}
            {{ partial "servers-build.html" . }}
            
            <th>8.5.5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{ $.Scratch.Set "displayType" 2 }}
            {{ $jsonFile := "tomcat.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "tomcat" }}
            {{ partial "servers-build.html" . }}
            
            {{ $jsonFile := "jetty.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "jetty" }}
            {{ partial "servers-build.html" . }}
            
            {{ $jsonFile := "websphere-liberty.json" | printf "%s/%s" $gitUrl | printf "%s" }}                    
            {{ $.Scratch.Set "jsonFile" $jsonFile }}
            {{ $.Scratch.Set "serverName" "websphere-liberty" }}
            {{ partial "servers-build.html" . }}
            
            <td><span class="label label-success rounded">Success</span></td>
        </tr>
    </tbody>
</table>

