{{ $groupId := .Get "g" }}
{{ $artifactId := .Get "a" }}
{{ $versionParam := printf "%s.%s" $groupId "version" }}
{{ $id := ($artifactId | urlize) | printf "%s-%s" (replace $groupId "." "-" | urlize) }}
{{ if isset .Params "v" }}
    {{ $.Scratch.Set "version" (.Get "v") }}
{{ else }}
    {{ if isset .Page.Params $versionParam }}
        {{ $.Scratch.Set "version" (index .Page.Params $versionParam) }}
    {{ else }}
        {{ if isset .Page.Site.Params $versionParam }}
            {{ $.Scratch.Set "version" (index .Page.Site.Params $versionParam) }}
        {{ else }}
            {{ $.Scratch.Set "version" "PUT_LATEST_VERSION_HERE" }}
        {{ end }}
    {{ end }}
{{ end }}
<div class="tab-v2">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-{{ $id }}-maven" data-toggle="tab" aria-expanded="true">Maven</a></li>
        <li class=""><a href="#tab-{{ $id }}-gradle" data-toggle="tab" aria-expanded="true">Gradle</a></li>
    </ul>
    <span class="tabs-icon fa-2x fa fa-cubes pull-right"></span>
    <div class="clear-both"></div>
    <div class="tab-content">
        <div class="tab-pane in active" id="tab-{{ $id }}-maven">
            <pre style="margin-top: 0;"><code class="xml">&lt;dependency&gt;
    &lt;groupId&gt;{{ $groupId }}&lt;/groupId&gt;
    &lt;artifactId&gt;{{ $artifactId }}&lt;/artifactId&gt;<span id="{{ $id }}-version" style="display: none;">
    &lt;version&gt;{{ $.Scratch.Get "version" }}&lt;/version&gt;</span>{{ if isset .Params "s" }}
    &lt;scope&gt;{{ if eq (.Get "s") "test" }}test{{ end }}&lt;/scope&gt;{{ end }}
&lt;/dependency&gt;</code></pre>
            <small class="pull-right" style="color: #aaa; margin-top: -20px; margin-right: 5px;">
                <span id="{{ $id }}-warn" style="display: none;"><i class="fa fa-warning" style="color: orange;"></i> Specifying versions manually is error-prone, use the <a href="/getting-started/distribution">distribution</a> instead.</span>
                <a style="cursor: pointer;" id="{{ $id }}-show" onclick="$('#{{ $id }}-version, #{{ $id }}-warn').show(); $('#{{ $id }}-show').hide();">Show version</a>
            </small>
        </div>{{ $.Scratch.Add "tabs" (add (.Get 0 | urlize) " ") }}
        <div class="tab-pane in" id="tab-{{ $id }}-gradle">
            <pre style="margin-bottom: 0;"><code class="java">dependencies {
    {{ if isset .Params "s" }}{{ if eq (.Get "s") "test" }}testCompile{{ end }}{{ else }}compile{{ end }}("{{ $groupId }}:{{ $artifactId }}:{{ $.Scratch.Get "version" }}")
}</code></pre>
        </div>
    </div>
</div>
