When using Maven, use the following snippet:
<pre><code class="xml">&lt;dependency&gt;
    &lt;groupId&gt;{{ .Get 0 }}&lt;/groupId&gt;
    &lt;artifactId&gt;{{ .Get 1 }}&lt;/artifactId&gt;
    &lt;version&gt;{{ .Page.Site.Params.seedVersion }}&lt;/version&gt;{{ if isset .Params 2 }}
    &lt;scope&gt;{{ if eq (.Get 2) "test" }}test{{ end }}&lt;/scope&gt;{{ end }}
&lt;/dependency&gt;</code></pre>

When using Gradle, use the following snippet:
<pre><code class="java">dependencies {
    {{ if isset .Params 2 }}{{ if eq (.Get 2) "test" }}testCompile{{ end }}{{ else }}compile{{ end }}("{{ .Get 0 }}:{{ .Get 1 }}:{{ .Page.Site.Params.seedVersion }}")
}</code></pre>