{{ $element := getJSON "./static/smoke-tests.json" }}
{{ range $category, $result := $element.results }}
<h2>{{ $category | title }}</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th style="vertical-align: middle;"></th>
        {{ range $server := $element.servers }}
        <th style="vertical-align: middle;" width="80px" class="text-center">{{ $server | title }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ range $test, $result := $result }}
    <tr>
        <td>{{ $test | title }}</td>
        {{ range $index, $outcome := $result.success }}
        {{ $message := index $result.messages $index }}
        <td style="text-align: center;">
            {{ if eq $outcome true }}
            <span class="label label-success rounded">OK</span>
            {{ else }}
            <span class="label label-danger rounded" {{ if $message }}data-toggle="tooltip" title="{{ $message}}"{{ end }}>KO</span>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}

