<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "addons-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><h3 class="active"><i class="fa fa-list"></i> <a href="/addons">All add-ons</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="margin-top: 0;">
                <div style="display:table; width: 100%">
                    <div style="display:table-cell; width: 50px; vertical-align: middle;">
                        <i class="fa fa-plug icon-2x" style="line-height: 30px;"></i>
                    </div>
                    <div style="display:table-cell; vertical-align: middle;">
                        Want your SeedStack add-on listed here ? Follow <a
                            href="https://github.com/seedstack/seedstack/wiki/Register-an-extension-on-website">this
                        guide</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border-right: 1px solid lightgrey; min-height: 100vh;">
            <form>
                <h4>Filter</h4>

                <div class="form-group">
                    <input type="text" class="form-control" id="filter" placeholder="Enter filtering terms here..." onkeyup="changeFilter()">
                </div>
                <h4>Show only:</h4>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" onclick='showOnly("backend")'> Backend add-ons
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" onclick='showOnly("frontend")'> Frontend add-ons
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-9 addon-items">
            {{ range $element := (where .Data.Pages.ByDate.Reverse "Title" "Overview") }}
            <div class="addon-item">
                <div class="row">
                    <div class="col-md-12">
                        <div class="item-wrapper">
                            {{ .Render "summary" }}
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<script>
    var onlyBackend = false, onlyFrontend = false, filter, filterTimeout;

    function computeAddonVisibility() {
        $('.addon-item').each(function (idx, elt) {
            var $elt = $(elt);
            var $article = $(elt).find("article");

            if (!onlyBackend && !onlyFrontend) {
                $elt.show();
            } else if (onlyBackend && onlyFrontend && $article.data('addon-backend') == true && $article.data('addon-frontend') == true) {
                $elt.show();
            } else if (onlyBackend && !onlyFrontend && $article.data('addon-backend') == true) {
                $elt.show();
            } else if (!onlyBackend && onlyFrontend && $article.data('addon-frontend') == true) {
                $elt.show();
            } else {
                $elt.hide();
                return;
            }

            var text = $article.text();
            if (filter && text && text.toLowerCase().indexOf(filter.toLowerCase()) === -1) {
                $elt.hide();
            }
        });
    }

    function showOnly(type) {
        if (type === "backend") {
            onlyBackend = !onlyBackend;
        }
        if (type === "frontend") {
            onlyFrontend = !onlyFrontend;
        }
        computeAddonVisibility();
    }

    function changeFilter() {
        clearTimeout(filterTimeout);
        filter = $('#filter').val();

        filterTimeout = setTimeout(function() {
            computeAddonVisibility();
        }, 250);
    }
</script>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
