<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "guides-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><span class="active"><i class="fa fa-list"></i> <a href="{{ $.Site.BaseURL }}guides">All guides</a></span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-12 filter-column">
            <form id="criteria">
                <div class="form-group">
                    <input type="text" class="form-control" id="filter" placeholder="Filter...">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ range $element := (where .Data.Pages.ByDate.Reverse "Weight" 0) }}
            <div class="content-wrapper filterable-item" style="margin-bottom: 20px;">
                <div class="doc-content">
                    {{ .Render "summary" }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "filter-script.html" }}
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
