<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "initial-scripts.html" . }}
{{ $paginator := .Paginate (where .Data.Pages.ByTitle "Title" "Introduction") }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "guides-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><h3 class="active"><i class="fa fa-list"></i> <a href="/guides">All guides</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-9">
            {{ range $paginator.Pages }}
                <div class="content-wrapper">
                    <div class="doc-content">
                        {{ .Render "summary" }}
                    </div>
                </div>
                <br>
            {{ end }}

            <div class="text-right">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "modals.html" . }}
{{ partial "styles.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
