<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ $paginator := .Paginator }}
<div id="header">
    {{ partial "top-menu.html" . }}
    {{ partial "blog-header.html" . }}
    <div class="title-subheader">
        <div class="container">
            <ul>
                <li><h3 class="active"><i class="fa fa-list"></i> <a href="/tags">All posts ({{ $paginator.TotalNumberOfElements }})</a></h3></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-9">
            {{ range $paginator.Pages }}
            <div class="content-wrapper">
                <div class="doc-content">
                    {{ .Render "summary" }}
                </div>
            </div>
            <br>
            {{ end }}

            <div class="text-left">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="side-menu">
                <div class="list-group">
                    <ul class="nav">
                        <li class="list-group-item"><div style="margin-bottom: 10px;"><i class="fa fa-folder-open"></i> Post categories</div>
                            <ul>
                            {{ range $name, $taxonomy := (index .Site.Taxonomies "post-categories") }}
                            <li><a href="/post-categories/{{ $name | urlize }}">{{ $name | title }}</a></li>
                            {{ end }}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>
